body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  text-decoration: none;
}

/** Barra de Navegação **/
nav {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  color: #F0F0DF;
  padding: 10px 40px;
  transition: 0.7s;
  background-color: #3F5866;
  text-decoration: none;
}

nav div a {
  text-decoration: none;
  color: #F0F0DF;
}

nav div a.buscar {
  text-decoration: none;
  color: #2B3A42;
  padding: 0px 0px;
}

nav div.logo {
  font-size: 24px;
  padding: 15px 20px;
  float: left;
  height: 40px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  margin: 10px;
}

nav div.buscar {
  font-size: 20px;
  padding: 20px 20px;
  float: right;
  height: 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  align-self: center;
  transition: 0.5s;
  background-color: #BDD3DE
}

section.decoy {
  height: 100px;
}

p{
  margin: 0px 200px;
  text-align: justify;
}

h1
{
  text-align: center;
}


a.botaoDenunciar
{
  align-self: center;
  width: 115px;
  background-color: #c82626;
  box-sizing: border-box;
  color: #F0F0DF;
  padding: 10px 10px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  display: flex;
  margin-left: 31em;
  margin-top: 50px;
}

.analise-color{
  color: #3F5866;
}

.tamanho{
  position: relative;
  padding: 10em;
  padding-top: 5em;
}
