body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  text-decoration: none;
}

/** Barra de Navegação **/
nav {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 100px;
  width: 100%;
  color: #F0F0DF;
  padding: 10px 40px;
  transition: 0.7s;
  background-color: #3F5866;
  text-decoration: none;
}

nav div a {
  text-decoration: none;
  color: #F0F0DF;
}

nav div a.buscar {
  text-decoration: none;
  color: #2B3A42;
  padding: 0px 0px;
}

nav div.logo {
  font-size: 24px;
  padding: 15px 20px;
  float: left;
  height: 40px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  margin: 10px;
}

nav div.buscar {
  font-size: 20px;
  padding: 20px 20px;
  float: right;
  height: 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  align-self: center;
  transition: 0.5s;
  background-color: #BDD3DE;
  border-radius: 5px;
}

section.decoy {
  height: 100px;
}

fieldset.question {
  border: 0;
  padding: 0;
  margin: 0 0 0 0;
  width: 100%;
  max-width: 100%;
  font-size: 0;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

fieldset.question legend {
  font-size: 17px;
  margin-bottom: 15px;
}

fieldset.question label {
  width: 105px;
  height: 55px;
  line-height: 55px;
  background: #fff;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #283a44;
  background: #b8dfed;
}

fieldset.info label {
  width: 200px;
}

fieldset.ano label {
  width: 180px;
}

fieldset.question input:checked+label {
  background: #3F5866;
  color: #F0F0DF;
}

fieldset.question input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

fieldset.question input:focus~label {
  box-shadow: 0px 0px 6px 0px #3F5866;
  outline: 0 none;
}

fieldset.question input:focus~.focus {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin: -10px;
  padding: 10px 10px 0;
  outline: 0;
  border: 1px solid #35a3e8;
  box-shadow: 0 0 10px #35a3e8;
  z-index: -1;
}

.submits {
  width: 105px;
  height: 55px;
  line-height: 55px;
  background: #fff;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #3F5866;
  background: #F0F0DF;
}